#NoticiasFuria
{
    overflow-y: hidden;
}
#NoticiasFuria::-webkit-scrollbar
{
    background-color: rgb(139, 139, 139);
    border-radius: 20px;
    height: 7px;
}
#NoticiasFuria::-webkit-scrollbar-thumb
{
    background-color: black;
    border-radius: 20px;
}